# frozen_string_literal: true

class CreateCeppuLogs < <%= migration_class_name %>
  def change
    create_table :<%= @table_name %><%= @primary_key_type == :uuid ? ', id: :uuid' : '' %> do |t|
      t.string    :event_id
      t.string    :level
      t.text      :message
      t.datetime  :timestamp
      t.string    :class_name
      t.jsonb     :stacktrace

      t.timestamps
    end
  end
end
